canvas {
    box-sizing: border-box; /*padding is included inside the width*/
    width: 95%;
    height: 80%;
    padding: 0.5%;
    border: 1px solid #d3d3d3;
    background-color: #4d975f;
    position: absolute;
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:burlywood;
    margin: 5px;
    padding: 0;
    z-index: -1;
    
}
div {
    align-self: center;
    align-content: center;
    text-align: center;
    
}
#dayNightDisplay {
    position: absolute;
    align-self: right;
    align-content: right;
    text-align: right;
    bottom: 30px;
    left: 30px;
    z-index: 2;

    height: 60px;
    width: 200px;
    font-size: 40px;
    text-align: left;
}
#tool-btn {
    position: absolute;
    align-self: right;
    align-content: right;
    text-align: right;
    top: 30px;
    right: 30px;
    z-index: 2;

    width: 60px;       /* increase button size */
    height: 60px;

    display: flex;     /* helps center icon */
    align-items: center;
    justify-content: center;
    border-radius: 50%;  
}
#tool-btn .material-icons {
    font-size: 40px;          /* icon size */
}
#modal-btn {
    position: absolute;
    align-self: right;
    align-content: right;
    text-align: right;
    top: 30px;
    right: 30px;
    z-index: 2;

    width: 40 px;       /* increase button size */
    height: 40px;

    display: flex;     /* helps center icon */
    align-items: center;
    justify-content: center;
    border-radius: 50%;  
}
#modal-btn .material-icons {
    font-size: 30px;          /* icon size */
}
dialog {
    padding: 3%;
    font-size: 20px;
}
li {
    margin-bottom: 10px;
}

table{
    table-layout: fixed; /* Ensures column widths are fixed */
    z-index: 3;
    border: 1px solid black;
}
tr {
    height: 65px;
    border: 1px;
}
#item1-box {
    height: 65px;
    width: 65px;
    font-size: 40px;
    text-align: left;
    bottom : 30px;

}
#item2-box {
    height: 65px;
    width: 65px;
    font-size: 40px;
    /* text-align: left; */
    bottom : 30px;
    left: 80px;

}

#qty1 {
    border-radius: 100px;
    color: black;
    z-index: 3;

    position: absolute;
    align-self: right;
    align-content: right;
    text-align: right;

    height: 28px;
    width: 26px;
    font-size: 15px;
    background-color:white;
    bottom : 70px;
    left: 250px;
}

/*learn now to make the item 1 apply to 5 more items but spaced positioning*/
#item1 {
    position: absolute;
    align-self: right;
    align-content: right;
    text-align: right;
    z-index: 1;

    height: 65px;
    width: 65px;
    font-size: 40px;
    text-align: left;
    bottom : 30px;
}

#item2 {
    z-index: 1;

    position: absolute;
    align-self: right;
    align-content: right;
    text-align: right;

    height: 65px;
    width: 65px;
    font-size: 40px;
    text-align: left;
    left: 500px;
    bottom : 30px;
    
    
}


#item3 {
    z-index: 1;

    position: absolute;
    align-self: right;
    align-content: right;
    text-align: right;

    height: 65px;
    width: 65px;
    font-size: 40px;
    text-align: left;
    left: 900px;
    bottom : 30px;
}

td {
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}